<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">🏥 Medical Continuity</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto align-items-center gap-2">
        <li class="nav-item"><a class="nav-link" href="/#features">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="/doctor/login">Doctor Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/login">Admin</a></li>
        <li class="nav-item ms-1"><a class="btn btn-outline-light btn-sm" href="/patient/register">Register Now</a></li>
      </ul>
    </div>
  </div>
</nav>
